* {
    box-sizing: border-box;
}

html, body {
    max-height: 100%;
    margin: 0;
    overscroll-behavior: none;
    font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.3;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    /* blokování kopírování obsahu */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    font-size: 1.08em;
    color: #000000;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

header p {
    margin: auto; 
    margin-left: 0;
}

header a {
    text-decoration: none;
    color: #000000;
}

nav {
    width: 25%;
    background-color: #972929;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    box-shadow: 5px 0px 5px 0px #5e5e5e;
    padding-bottom: 50px;
}

nav img {
    width: 50px;
    margin: 10px 10px 10px auto;
}

nav ul {
    list-style: none;
}

nav li {
    margin: 10px 0;
}

nav a:hover {
    color: #97b7d0;
}

nav header::after {
    content: "";
    height: 2px;
    background-color: #97b7d0;
    width: 90%;
    display: block;
    margin: 10px 0;
}

li a {
    text-decoration: none;
    color: #ffffff;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

section ul {
    margin-top: 10px;
}

section h3 {
    margin-bottom: 0;
}

.odstavec {
    margin-left: 20px;
}

.odstavec a:hover {
    color: #972929;
}

#authors {
    width: 100%;
}

#menu-authors {
    grid-template-rows: repeat(40, 1fr);
}

.smery li {
    margin: 5px 0;
}

article {
    flex: 1;
    overflow-y: auto;
    padding: 20px 40px;
    width: 75%;
    background: #97b7d0;
    margin-left: 25%;
    padding-bottom: 50px;
    min-height: 100vh;
}

article header::after {
    content: "";
    height: 2px;
    background-color: #972929;
    width: 90%;
    display: block;
    margin: 30px 0;
}

article p {
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

h1, h2 {
    margin-bottom: 10px;
}

h1::before, .lit-smery::after {
    content: "";
    height: 2px;
    background-color: #972929;
    width: 100%;
    display: block;
    margin: 20px 0;
}

.fa, .fas {
    margin-right: 10px;
}

hr {
    width: 90%;
    margin: 15px 0;
}

h2, .lit-smery {
    width: 100%;
}

header h5, header h4, section h4 {
    margin: 0;
}

header h3 {
    margin: 10px 0;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-6 {
    margin-left: 1.5rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-2 {
    margin-top: .5rem;
}

.mb-2 {
    margin-bottom: .5rem;
}


.smery {
    display: grid;
    margin: 0 auto 30px auto;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    list-style-type: none;
}

.smery p {
    margin: 5px 0;
    padding: 0 30px;
}

.smery a {
    text-decoration: none;
    color: #972929;
}

.smery a:hover, tbody a:hover, header h2 a:hover {
    color: #ffffff;
}

.cetba th {
    padding: 5px 10px;
}

.cetba thead th {
    text-align: center;
}

.cetba tbody {
    font-size: 15px;
}

.o-autorovi {
    display: flex;
}

.o-autorovi img, .odstavec img {
    width: 200px;
    margin-bottom: 10px;
}

.o-autorovi a:hover {
    color: #972929;
}

.odstavec img {
    float: left;
    margin: 15px 30px 0;
}

article header p {
    font-size: 20px;
    width: 100%;
}

.rozbor {
    margin: 20px auto; 
    text-align: center;
    width: 100%;
}

.zelena {
    color: #589600;
}

.cervena {
    color: #e91e2f;
}



table {
    border-spacing: 0;
    width: 98%;
}

table, th {
    text-align: left;
    margin: 0 auto;
}

tbody a {
    color: #000000;
    text-decoration: none;
}

th {
    padding: 20px;
    border: 1px solid black;
}

.th1 {
    width: 20%;
}

.th2 {
    font-weight: normal;
}





/***************************************/
/*                FOOTER               */
/***************************************/

footer {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #972929;
    z-index: 10;
    position: relative;
    width: 75%;
    margin-left: 25%;
}

#footer .copyright {
    color: #ffffff;
    font-size: 15px; 
    margin: auto 20px;
    position: relative;
}

footer a {
    text-decoration: none;
}

footer p, footer a {
    color: #9fa3a6;
}





@media (max-width: 768px) {
    
    article, nav {
        width: 100%;
        margin: 0;
    }

    article {
        padding: 20px;
    }

    section {
        width: 100%;
    }

    nav {
        position: relative;
        padding-bottom: 20px;
    }

    footer {
        width: 100%;
        margin-left: 0;
        font-size: 10px;
        text-align: center;
        flex-direction: column-reverse;
    }

    #footer .copyright {
        margin: auto;
    }

    h2 {
        font-size: 30px;
    }

    h4, section h2 {
        font-size: 25px;
    }    
    
    .smery {
        grid-auto-flow: row;
    }

    .o-autorovi {
        flex-wrap: wrap;
    }

    .o-autorovi img {
        margin: 0 auto;
    }


}
